<div class="row g-3 mb-4">
  <div class="col-12 col-sm-6 col-xl-3">
    <app-summary-card
      titulo="Em andamento"
      [valor]="emAndamento()"
      cor="primary">
    </app-summary-card>
  </div>

  <div class="col-12 col-sm-6 col-xl-3">
    <app-summary-card
      titulo="Concluídas"
      [valor]="concluidas()"
      cor="success">
    </app-summary-card>
  </div>

  <div class="col-12 col-sm-6 col-xl-3">
    <app-summary-card
      titulo="Aguardando"
      [valor]="aguardando()"
      cor="warning">
    </app-summary-card>
  </div>

  <div class="col-12 col-sm-6 col-xl-3">
    <app-summary-card
      titulo="Alta prioridade"
      [valor]="altaPrioridade()"
      cor="danger">
    </app-summary-card>
  </div>
</div>

<div class="row g-3">
  <div class="col-7">
   

    @for (task of tasksFiltradas(); track task.id) {
      <app-task-card [task]="task" (excluir)="onExcluirTask($event)" (editar)="onEditarTask($event)" (verDetalhes)="onVerDetalhes($event)"></app-task-card>
    }
  </div>

  <div class="col-5">
    <app-task-form [taskParaEditar]="taskEmEdicao" (concluido)="onFormConcluido()"></app-task-form>
  </div>
</div>

@if (taskEmDetalhe) {
  <app-task-detail [task]="taskEmDetalhe" (fechar)="onFecharDetalhes()"></app-task-detail>
}